<div id="header" class="grid-container full" data-sticky-container>
  <div class="grid-x grid-padding-x grid-padding-y sticky" data-margin-top="0" style="width:100%;  background:white;" data-top-anchor="1"  data-sticky>

    <!-- LOGOTIPO -->
      <div class="cell small-12 medium-2 medium-offset-2   padding-top-3 show-for-medium">
      <a href="#header" data-smooth-scroll>
        <img class="logo" src="../assets/img/logo-yeyos@2x.png" alt="Logotipo Yeyos Dojo 2020">
      </a>
    </div>


    <!-- MENU DE NAVEGACION -->
    <div class="cell small-12 medium-8 show-for-medium padding-top-3" >
      <ul class="menu" data-smooth-scroll style="display: flex; justify-content: center;">
        <li><a href="#quienes-somos"><i class="fi-list"></i><span> Quienes Somos</span></a></li>
        <li><a href="#profesores"><i class="fi-list"></i><span> Profesores</span></a></li>
        <li><a href="#horarios"><i class="fi-list"></i> <span>Horarios</span></a></li>
        <li><a href="#planes"><i class="fi-list"></i> <span>Planes</span></a></li>
        <li><a href="#0"><i class="fi-list"></i> <span>Eventos</span></a></li>
      </ul>

    </div>

  </div>
</div>


    <!-- BOTON OFFCANVAS -->
    <div class="cell small-12 show-for-small-only" >
      <button class="button small " type="button" data-toggle="offCanvas">MENU</button>
    </div>





{{>hero}}
