
<div class="grid-container full" id="mapa">
  <div class="grid-x grid-margin-x margin-top-3">
    <div class="cell small-12 text-center"><h2>UBICACIÓN</h2></div>
    <div class="cell medium-8 medium-offset-2">
      <div class="responsive-embed widescreen">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d832.0178788862787!2d-70.6377331!3d-33.4734888!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c54452ac2d83%3A0x2b26d93b33f2a0!2sB%C3%ADo%20B%C3%ADo%20561%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1578878566138!5m2!1ses-419!2scl" width="600" height="100" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
