<div class="grid-container full" id="media">
  <div class="grid-x grid-margin-x padding-top-3 padding-bottom-3">
    <div class="cell small-12 text-center h1"><h2>VIDEOS</h2></div>
    <div class="cell medium-4 medium-offset-2">
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WnMEeitD654" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="responsive-embed">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/mM5_T-F1Yn4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
