<div class="grid-container contenido-offcanvas">
  <div class="grid-x">
    <!-- LOGOTIPO -->
      <div class="cell small-12 text-center padding-top-2">
        <a href="#header" data-smooth-scroll>
          <img class="logo" src="assets/img/logo-yeyos@2x.png" alt="Logotipo Yeyos Dojo 2020">
        </a>
      </div>

    <div class="cell small-12 ">
    <!-- Close button -->
       <button class="close-button" aria-label="Close menu" type="button" data-close>
         <span aria-hidden="true">&times;</span>
       </button>

       <!-- Menu -->
       <ul class="no-bullet padding-top-1 padding-left-1">
        <h4><li><i class="fas fa-chevron-right"></i> <a href="#quienes-somos" data-smooth-scroll> Quienes Somos</a></li></h4>
         <h4><li><i class="fas fa-chevron-right"></i> <a href="#profesores" data-smooth-scroll> Profesores</a></li></h4>
         <h4><li><i class="fas fa-chevron-right"></i> <a href="#horarios" data-smooth-scroll> Horarios</a></li></h4>
         <h4><li><i class="fas fa-chevron-right"></i> <a href="#planes" data-smooth-scroll> Planes</a></li></h4>
         <h4><li><i class="fas fa-chevron-right"></i> <a href="#mapa" data-smooth-scroll> Ubicación</a></li></h4>
         <h4><li><i class="fas fa-chevron-right"></i> <a href="#footer" data-smooth-scroll> Contacto</a></li></h4>
       </ul>
       <hr></hr>
    </div>
    <!-- PUNTOS DE CONTACTO -->
    <div class="cell small-12 padding-left-1 ">
        <h3>Contacto</h3>
        <ul class="no-bullet">
          <li><i class="fas fa-map-marker-alt"></i> Bío Bío 561, Stgo, Chile.</li>
          <li><i class="fas fa-phone-alt"></i> <a href="tel:+56991291468">+56 23285 0591</a></li>
          <li><i class="far fa-envelope"></i> <a href="mailto:hola@yeyosdojo.cl">hola[arroba]yeyosdojo.cl</a></li>
        </ul>
        <h5 class="margin-bottom-0">Redes sociales</h5>
        <ul class="no-bullet rrss">
          <li><a href="https://www.facebook.com/yeyosdojo/"><i class="fab fa-facebook""></i></a></li>
          <li><a href="https://www.instagram.com/yeyos_dojo/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCb_TUUfER_7QVmX_g0OvB5A"><i class="fab fa-youtube"></i></a></li>
          <li><a href="http://www.m.me/yeyosdojo"><i class="fab fa-facebook-messenger"></i></a></li>
        </ul>
    </div>
  </div>
</div>
