<!-- <ul class="dropdown menu" data-dropdown-menu style="display: flex; justify-content: flex-end;">
  <li>
    <a href="#0">Quienes Somos</a>
    <ul class="menu">
      <li><a href="#0">Dojo Lucha</a></li>
      <li><a href="#0">Profesores</a></li>
    </ul>
  </li>
  <li><a href="#0"><i class="fi-list"></i> <span>Horarios</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Planes</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Eventos</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Videos</span></a></li>

  <li><a href="#0"><i class="fi-list"></i> <span>Contacto</span></a></li>
</ul>
 -->



<!-- Close button -->
   <button class="close-button" aria-label="Close menu" type="button" data-close>
     <span aria-hidden="true">&times;</span>
   </button>

   <!-- Menu -->
   <ul class="vertical menu" data-dropdown-menu data-smooth-scroll style="display: flex; justify-content: flex-end;">

     <li> <a href="#0">Quienes Somos</a></li>
     <li><a href="#quienes-somos" data-smooth-scroll>Dojo Lucha</a></li>
     <li><a href="#profesores" data-smooth-scroll>Profesores</a></li>
     <li><a href="#quienes-somos" data-smooth-scroll><i class="fi-list"></i> <span>Horarios</span></a></li>
     <li><a href="#0"><i class="fi-list"></i> <span>Planes</span></a></li>
     <li><a href="#0"><i class="fi-list"></i> <span>Eventos</span></a></li>
     <li><a href="#0"><i class="fi-list"></i> <span>Videos</span></a></li>
   </ul>
