<div class="grid-container contenido-offcanvas">
  <div class="grid-x">
    <!-- LOGOTIPO -->
      <div class="cell small-12 text-center padding-top-2">
        <a href="#header" data-smooth-scroll>
          <img class="logo" src="assets/img/logo-yeyos@2x.png" alt="Logotipo Yeyos Dojo 2020">
        </a>
      </div>

    <div class="cell small-12 ">
    <!-- Close button -->
       <button class="close-button" aria-label="Close menu" type="button" data-close>
         <span aria-hidden="true">&times;</span>
       </button>

       <!-- Menu -->
       <ul class="vertical menu padding-top-1">
         <li> <a href="#quienes-somos" data-smooth-scroll>Quienes Somos</a></li>
         <li><a href="#profesores" data-smooth-scroll>Profesores</a></li>
         <li><a href="#horarios" data-smooth-scroll><i class="fi-list"></i> <span>Horarios</span></a></li>
         <li><a href="#planes" data-smooth-scroll><i class="fi-list"></i> <span>Planes</span></a></li>
         <li><a href="#mapa" data-smooth-scroll><i class="fi-list"></i> <span>Ubicación</span></a></li>
         <li><a href="#footer" data-smooth-scroll><i class="fi-list"></i> <span>Contacto</span></a></li>
       </ul>
       <hr></hr>
    </div>
    <!-- PUNTOS DE CONTACTO -->
    <div class="cell small-12 padding-left-1 ">
        <h3>Contacto</h3>
        <ul>
          <li>Bío Bío 561, Santiago.</li>
          <li><a href="tel:+56991291468">+56 23285 0591</a></li>
          <li>hola@yeyosdojo.cl</li>
        </ul>
        <h5 class="margin-bottom-0">Redes sociales</h5>
        <ul class="no-bullet rrss">
          <li><a href="https://www.facebook.com/yeyosdojo/"><i class="fab fa-facebook""></i></a></li>
          <li><a href="https://www.instagram.com/yeyos_dojo/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCb_TUUfER_7QVmX_g0OvB5A"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
  </div>
</div>
