<div class="reveal" id="azagoth" data-reveal>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <h1>{{azagoth.nombre}}</h1>
  <p class="lead"><i class="fas fa-angle-right"></i> {{azagoth.cargo}}</p>

  <p class="margin-top-1">{{azagoth.descripcion}}</p>

  <b><p>Sus clases son los dias Miercoles a las 17:30 hrs.</p></b>

  <h5>Redes Sociales</h5>
  <ul class="no-bullet rrss">
    <li><a href="{{azagoth.facebook}}"><i class="fab fa-facebook"></i></a> </li>
    <li><a href="{{azagoth.instagram}}"><i class="fab fa-instagram"></i></a></li>
    <li><a href="{{azagoth.messanger}}"><i class="fab fa-facebook-messenger"></i></a></li>
  </ul>


  <button class="button primary expanded " aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true" class="cerrar"><b><i class="fas fa-times"></i> CERRAR</b></span>
  </button>
</div>
