<div class="reveal" id="alejandro" data-reveal>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <h1>{{alejandro-saez.nombre}}</h1>
  <p class="lead"><i class="fas fa-angle-right"></i> {{alejandro-saez.cargo}}</p>
  <img src="assets/img/profesores/alejandroSaez2.jpg" alt="Alejandro Sáez en WWE">

  <p class="margin-top-1">{{alejandro-saez.descripcion}}</p>

  <ul class="no-bullet">
    <li><b>Ha trabajado para empresas como:</b> {{alejandro-saez.empresas}}</li><br>
    <li><b>Tours:</b> {{alejandro-saez.paises}}</li>
    <li><span class="flag-icons  CL"></span>  <span class="flag-icons PE"></span> <span class="flag-icons BO"></span>  <span class="flag-icons TW"></span>  <span class="flag-icons SG"></span>  <span class="flag-icons JP"></span></li>

  </ul>
  <h5>Redes Sociales</h5>
  <ul class="no-bullet rrss">
    <li><a href="{{alejandro-saez.facebook}}"><i class="fab fa-facebook"></i></a> </li>
    <li><a href="{{alejandro-saez.instagram}}"><i class="fab fa-instagram"></i></a></li>
    <li><a href="{{alejandro-saez.twitter}}"><i class="fab fa-twitter"></i></a></li>
    <li><a href="{{alejandro-saez.messanger}}"><i class="fab fa-facebook-messenger"></i></a></li>
  </ul>

  <button class="button primary expanded " aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true" class="cerrar"><b><i class="fas fa-times"></i> CERRAR</b></span>
  </button>
</div>
