<div class="reveal" id="juan" data-reveal>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <h1>{{juan.nombre}}</h1>
  <p class="lead"><i class="fas fa-angle-right"></i> {{juan.cargo}}</p>

  <p class="margin-top-1">{{juan.descripcion}}</p>

  <b><p>Las clases de preparación fisica son los días Jueves a las 17:30 hrs.</p></b>

  <button class="button primary expanded " aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true" class="cerrar"><b><i class="fas fa-times"></i> CERRAR</b></span>
  </button>
</div>
