<div class="grid-container" id="profesores">
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="cell small-12 text-center">
      <h2>Profesores</h2>
    </div>
    <!-- GUANCHULO -->
    <div class="cell medium-3">
      <div class="card card-product">
        <div class="card-product-img-wrapper">
          <a class="button expanded text-uppercase">VER MÁS</a>
          <a href="#"><img src="{{root}}assets/img/profesores/guanchulo.jpg"></a>
        </div>
        <div class="card-section">
          <a href="#"><h3 class="card-product-name">Guanchulo</h3></a>
          <h5 class="card-product-price">Head Coach</h5>
          <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
        </div>
      </div>

    </div>
    <!-- ALEJANDRO SÁEZ -->
    <div class="cell medium-3">
      <div class="card card-product">
        <div class="card-product-img-wrapper">
          <a class="button expanded text-uppercase">VER MÁS</a>
          <a href="#"><img src="{{root}}assets/img/profesores/alejandroSaez.jpg"></a>
        </div>
        <div class="card-section">
          <a href="#"><h3 class="card-product-name">Alejandro Sáez</h3></a>
          <h5 class="card-product-price">Coach</h5>
          <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
        </div>
      </div>

    </div>
    <!-- ZATARA -->
    <div class="cell medium-3">
      <div class="card card-product">
        <div class="card-product-img-wrapper">
          <a class="button expanded text-uppercase">VER MÁS</a>
          <a href="#"><img src="{{root}}assets/img/profesores/zatara.jpg"></a>
        </div>
        <div class="card-section">
          <a href="#"><h3 class="card-product-name">Zatara</h3></a>
          <h5 class="card-product-price">Coach</h5>
          <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
        </div>
      </div>

    </div>
    <!-- NIÑO POLLA -->
    <div class="cell medium-3">
      <div class="card card-product">
        <div class="card-product-img-wrapper">
          <a class="button expanded text-uppercase">VER MÁS</a>
          <a href="#"><img src="{{root}}assets/img/profesores/zg.png"></a>
        </div>
        <div class="card-section">
          <a href="#"><h3 class="card-product-name">ZG</h3></a>
          <h5 class="card-product-price">Coach</h5>
          <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
        </div>
      </div>

    </div>
  </div>
</div>
