<div class="grid-container full">
  <div class="marketing-site-content-section" id="quienes-somos">
    <div class="marketing-site-content-section-img">
      <img src="assets/img/yeyos-orbit/5.jpg" alt="" />
    </div>
    <div class="marketing-site-content-section-block">
      <h1 class="marketing-site-content-section-block-header">Quienes Somos</h1>
      <p class="subheader">Yeyos Dojo nace del sueño de profesionalizar la Lucha Libre en Chile, y es así como su fundador, Guanchulo, comienza con este proyecto un 28 de abril del 2018.
      De esta forma <span class="destacado">se crea el primer centro de entrenamiento de Lucha Libre Profesional</span> que trabaja bajo el paradigma de entrenamiento japonés en Chile, destacándose por ser el único establecimiento en tener disponibilidad de entrenamiento todos los días de la semana dentro de Sudamérica.
      </p>

    </div>
    <div class="marketing-site-content-section-block small-order-2 medium-order-1">
      <h2 class="marketing-site-content-section-block-header">Nuestra Misión</h2>
      <p class="subheader">Nuestro objetivo principal es formar atletas que cuenten con un estado físico apto y un nivel técnico de estándares internacionales, para así poder desarrollarse y destacar en la Lucha Libre tanto a nivel nacional, como internacional.</p>

    </div>
    <div class="marketing-site-content-section-img small-order-1 medium-order-2">
      <img src="assets/img/yeyos-orbit/6.jpg" alt="" />
    </div>
  </div>
</div>
